.s3{
    border: 2px solid black;
    background-color: chocolate;
    padding: 40px 40px 40px 40px ;
    box-shadow: 2px black;
}
a{
    border: 1px solid black;
    background-color: antiquewhite;
    margin-left: 30px;
}

.s4{
    margin-top: 80px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px aqua;
}
.s7{
    margin-left: 700px;
    margin-top: 250px;
}
.c1{
    background-color: chocolate;
}
.s8{
    border-radius: 80px;
}